html {
  width: 100%;
  --card-header-bg: rgba(0, 0, 0, 0.9);
  --card-footer-bg: rgba(0, 0, 0, 0.9);
}

.botw-card {
  position: absolute;

  width: 100%;
  aspect-ratio: 2.5 / 3.5;

  margin: 0;

  background-color: black;

  border-radius: 1rem;

  text-align: center;
  text-transform: capitalize;

  box-sizing: border-box;

  user-select: none;
  background-image: url(../images/card_backside.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
}

.activeCard .botw-card {
  background-image: url(../images/cardPattern.png);
}

.botw-card-header {
  margin: auto;
  margin-top: 5%;
  display: flex;
  height: 10%;
  background-color: var(--card-header-bg);
  width: 85%;
}

.botw-card-header img {
  float: right;
}

.botw-card-header p {
  display: inline;
  width: 100vw;
  font-size: 0.8em;
  text-align: left;
  max-height: 100%;
  color: gold;
}

.botw-card-middle {
  height: 48%;
  width: 100%;
  margin: auto;
}

.botw-card-hearts {
  margin: auto;
  width: 85%;
  height: 7%;
  text-align: right;
  margin-bottom: 0;
}

.botw-card-hearts img {
  height: 100%;
  text-align: right;

  aspect-ratio: 1;
  margin-right: 0;
  margin-left: auto;
}

.botw-card-image {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  height: 72%;
}

.botw-card-image img {
  height: 100%;

  object-fit: cover;
  object-position: top;

  pointer-events: none;
}

.botw-card-stats {
  margin: auto;
  width: 80%;
  height: 7%;
  text-align: right;
  margin-bottom: 0;
}

.botw-card-stats img {
  height: 100%;
  text-align: right;
  aspect-ratio: 1;
  margin-right: 0;
  margin-left: auto;
}

.botw-card-footer {
  margin: auto;
  width: 90%;
  display: flex;
  margin-bottom: 4.16%;
  height: 36%;
  background-color: var(--card-footer-bg);
}

.footer-text {
  text-align: left;
  word-wrap: break-word;
  width: 100%;
  margin-bottom: 2%;
  margin-right: 2%;
  margin-left: 2%;
  text-transform: none;
}

.footer-title {
  color: gold;
  width: 100%;
  display: inline-block;
  margin-top: 1.8%;
}

.footer-description {
  color: white;
  width: 100%;
  display: inline-block;
}

.footer-drops {
  color: white;
  width: 100%;
  display: inline-block;
}

.footer-locations {
  color: white;
  width: 100%;
  display: inline-block;
}

@media all and (min-width: 400px) {
  .footer-text {
    font-size: 0.8em;
  }

  .footer-title {
    font-size: 1em;
  }
}

@media all and (min-width: 990px) {
  .footer-text {
    font-size: 1em;
  }
  .footer-title {
    font-size: 1em;
  }
}

@media all and (min-width: 1200px) {
  .footer-text {
    font-size: 1em;
  }
  .footer-title {
    font-size: 1em;
  }
}

@media all and (min-width: 1400px) {
  .botw-card-header p {
    font-size: 5em;
  }
  .footer-text {
    font-size: 1.6em;
  }
}
