.categoryTitle {
  height: 10vh;
  width: 100%;
  position: fixed;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(252, 200, 30);
  font: 20px Bookman, serif;
  text-shadow: 1px 1px #727272;
  background-color: #101742;
}

