.homeScreenContainer {
  text-align: center;
  background-image: url(../images/tempBackground.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
  margin: 0;
}

* {
  box-sizing: border-box;
}

.header {
  margin: auto;
  height: 20vh;
  background-color: rgb(0, 0, 0, 0.5);
}

.body {
  height: 70vh;
  margin: auto;
  width: 80vw;
  position: relative;
}

.footer {
  height: 10vh;
  background-color: rgb(0, 0, 0, 0.5);
  color: white;
}
