* ,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.homeScreenContainer {
  text-align: center;
  background-color: transparent;
  background-image: url(../images/sheika_bkg_tile.jpg);
  background-repeat: repeat;
  background-size: 5%;
  background-position: center;
  margin: 0;
}



.header {
  margin: auto;
  height: 60vh;
  background-image: url(../images/header_image.png);
  color: rgb(252, 200, 30);
  font: 20px Bookman, serif;
  text-shadow: 1px 1px #727272;
}

.header_headline {

  padding: 2rem;
  background-color: #101742;
  display: flex;
  align-items: center;
  justify-content: center;
}

.body {
  height: 50vh;
  width: 75vw;
  margin: auto;
  position: static;
  margin-top: 10rem;
  margin-bottom: 1rem;
  background-color: transparent;
}

.cardGroupContainer {
  perspective: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  height: 100%;
}

.item {
  transform: rotateX(0deg) scale(0.9);
  background-color: transparent;
  border-radius: 0.4rem;
  cursor: pointer;
  width: 30%;
  height: 50%;
  aspect-ratio: 1;
  transition: 0.5s all ease;
}

.item:hover {
  cursor: pointer;
  transform: rotate(0deg) scale(1);
  transition: 0.5s all ease;
  z-index: 400;
}


.item_treasure {
  width: 170px;
  height: 266px;
  transform: rotateX(0deg) scale(0.9);
  background-image: url(../images/treasure_ruppee.png);
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 0.4rem;
  cursor: pointer;
  aspect-ratio: 1;
  transition: 0.5s all ease;
}

.item_treasure:hover {
  cursor: pointer;
  transform: rotate(0deg) scale(1);
  transition: 0.5s all ease;
  z-index: 400;
  background-image: url(../images/treasure_gif.gif);
}

.item_monsters {
  width: 170px;
  height: 266px;
  transform: rotateX(0deg) scale(0.9);
  background-image: url(../images/monsters_ruppee.png);
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 0.4rem;
  cursor: pointer;
  aspect-ratio: 1;
  transition: 0.5s all ease;
}

.item_monsters:hover {
  cursor: pointer;
  transform: rotate(0deg) scale(1);
  transition: 0.5s all ease;
  z-index: 400;
  background-image: url(../images/monsters_gif.gif);
}

.item_equipment {
  width: 170px;
  height: 266px;
  transform: rotateX(0deg) scale(0.9);
  background-image: url(../images/equipment_ruppee.png);
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 0.4rem;
  cursor: pointer;
  aspect-ratio: 1;
  transition: 0.5s all ease;
}

.item_equipment:hover {
  cursor: pointer;
  transform: rotate(0deg) scale(1);
  transition: 0.5s all ease;
  z-index: 400;
  background-image: url(../images/equipment_gif.gif);
}

.item_materials {
  width: 170px;
  height: 266px;
  transform: rotateX(0deg) scale(0.9);
  background-image: url(../images/materials_ruppee.png);
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 0.4rem;
  cursor: pointer;
  aspect-ratio: 1;
  transition: 0.5s all ease;
}

.item_materials:hover {
  cursor: pointer;
  transform: rotate(0deg) scale(1);
  transition: 0.5s all ease;
  z-index: 400;
  background-image: url(../images/materials_gif.gif);
}

.item_creatures {
  width: 170px;
  height: 266px;
  transform: rotateX(0deg) scale(0.9);
  background-image: url(../images/creatures_ruppee.png);
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 0.4rem;
  cursor: pointer;
  aspect-ratio: 1;
  transition: 0.5s all ease;
}

.item_creatures:hover {
  cursor: pointer;
  transform: rotate(0deg) scale(1);
  transition: 0.5s all ease;
  z-index: 400;
  background-image: url(../images/creatures_gif.gif);
}

.card {
  position: relative;
  background-color: transparent;
}
.card__img {
  display: block;
  object-fit: cover;
}

/* The overlay effect - lays on top of the container and over the image */
.overlay {
  margin-top: 18rem;
  width: 100%;
  transition: 0.5s ease;
  opacity: 0;
  color: rgb(255, 255, 255);
  font: 20px Bookman, serif;
  padding: 10px;
  text-align: center;
}

/* When you mouse over the container, fade in the overlay title */
.item_creatures:hover .overlay {
  opacity: 1;
}

.item_monsters:hover .overlay {
  opacity: 1;
}

.item_materials:hover .overlay {
  opacity: 1;
}

.item_equipment:hover .overlay {
  opacity: 1;
}

.item_treasure:hover .overlay {
  opacity: 1;
}

@media (max-width: 800px) {
  .item {
    height: 30%;
    width: 45%;
  }
}

@media (max-width: 400px) {
  .item {
    height: 20%;
    width: 90%;
  }

  .homeScreenContainer {
    overflow: scroll;
  }
}

@media (max-height: 680px) {
  .item {
    height: 30%;
    width: 45%;
  }
}

.homeScreenQuote {
  height: 10%;
  color: rgb(252, 200, 30);
}

.footer {
  height: 10vh;
  background-color: #101742;
  color: rgb(252, 200, 30);
  font: 20px Bookman, serif;
  text-shadow: 1px 1px #727272;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ruppee-card {
  background-color: transparent;    
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: 0.25rem;
}
